#john_deere_payment_fields {
  font-family: default;
}

.payment_method_john_deere_payment img {
  max-width: 40px !important;
  float: right;
}

fieldset#jd_payment_option {
  padding: 10px;
}

.jd-custom-grid .woocommerce-input-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 10px;
}

.jd-custom-grid .woocommerce-input-wrapper > label {
  display: contents;
  margin-bottom: 0;
}

.jd-custom-grid .woocommerce-input-wrapper > label > input[type='radio'] {
  grid-row: span 2;
}

/* CSS code */
#jd_account_number.invalid {
  border: 1px solid red;
}
